<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>部门介绍</title>

 	 <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
     <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" >
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css" >
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" ></script>
	<!-- bootstrapTable--> 
	<link href="../node_modules/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
	<script src="../node_modules/bootstrap-table/dist/bootstrap-table.min.js"></script>


    <!-- SweetAlert2对话框 -->
    <script src="../node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../node_modules/sweetalert2/dist/sweetalert2.css">

    <!-- Custom styles for this template -->
    <link href="../css/homepage.css" rel="stylesheet">
    <link href="../css/tree.css" rel="stylesheet">
    <link href="../css/departmentPage.css" rel="stylesheet">
   
    <script type="text/javascript">

       function GetQueryString(name) {
         var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
         var r = window.location.search.substr(1).match(reg);
         if (r!=null) return (r[2]); return null;
      }
      var dept = new Object();
      dept.departID = GetQueryString("agr");
     // alert(dept.departID);
    //alert(GetQueryString("agr"));
 
      </script>

  </head>

  <body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">企业后台管理系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="homepage.html">组织管理</a></li>
            <li class="ac
            tive"><a href="announcement.html">公告管理</a></li>
            <li><a href="task.html">任务管理</a></li>
          </ul>
          <div class="pull-right">

        <div class="dropdown">
          <button type="button" class="btn dropdown-toggle" style="background: transparent;color:white;" id="dropdownMenu0" data-toggle="dropdown">
          xx管理员
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" onclick="">修改密码</a>
                  <a role="menuitem" tabindex="-1" href="#" onclick="">退出登录</a>
              </li>
        
          </ul>
        </div>
      </div>
   
        </div><!--/.nav-collapse -->

      </div>
    </nav>

      

    <div class="container">
		<div class="pull-right">

	      <div class="dropdown">
	        <button type="button" class="btn dropdown-toggle " id="dropdownMenu1" data-toggle="dropdown">部门领导管理
	            <span class="caret"></span>
	        </button>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	            <li role="presentation" class="dropdown-header">部门领导信息管理</li>
	            <li role="presentation">
	                <a role="menuitem" tabindex="-1" href="#" onclick="altLeader(dept.departID)">修改部门领导</a>
	            </li>
	      
	        </ul>
	      </div>
	    </div>
   
   <div class="jumbotron">
      <strong><h1 id ="deptName"></strong>
   
    </div>

    <h2>领导: <small id ="leader">
    </small></h2>
    <script>//获取部门领导
       var datas = new Object();
       //alert(dept.departID);
       datas.departID  = dept.departID ;

      $.ajax({
         type: "POST",
         url: 'http://115.159.38.100:3000/depart/search',
         data: datas,
         cache:false,
         async : true,
         dataType : "json",

        success : function(data) {  
          //deptName
          var agr ="h1#deptName";//agr to append 
          var opts = "";  

          dept.departName = data[0].departName;

          var Name = data[0].departName;
          opts += Name ;
          $(agr).append(opts);

          //deptLeader
          agr ="small#leader";//agr to append 
          opts = "";  

          var Name = data[0].leaderName;
          //alert(data.leaderName);
          var ID = data.leaderID;
          //alert(ID);
          opts += Name ;
          $(agr).append(opts);

         }//==sucess function       
      }); //====ajax  */
    </script>
 <script>
    //修改部门领导信息
    altLeader = function (departID) {

       swal({
          title: '请输入新领导用户信息',
          showCancelButton: true,
          html:
            '<small>工号</small>'+
            '<input  onkeyup="this.value=this.value.replace(/[^0-9]/g,\'\')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,\'\')" id="swal-input1" class="swal2-input"></input>',
          preConfirm: function () {
            return new Promise(function (resolve,reject) {
              if ( $('#swal-input1').val()=== '') {
                reject('工号不能为空')
             }else{
                resolve([
                  $('#swal-input1').val()
                ])
             }
            })
          },
          onOpen: function () {
            $('#swal-input1').focus()
          }
        }).then(function (result) {
            var datas = new Object();

            datas.userID = result[0];
            datas.departName =dept.departName;

            //alert(datas.userID);
            $.ajax({
               type: "POST",
               url: 'http://115.159.38.100:3000/user/update/leader',
               data: datas,
               cache:false,
               async : true,
               dataType : "json",
               success: function(data){
                  if(data == "success"){    
                    swal(          
                      'Deleted!',
                      '修改成功',
                      'success'
                    );
                      window.location.reload(); 
                  }else {
                     swal(          
                          'Error!',
                          '修改失败，请重试。',
                          'error'
                      );              
                  }
               }
            });//==ajax

        }).catch(swal.noop)

      }//====del

    </script>
    <div class="row">
        <br /><br />

        <div class="col-xs-9">
          <h2>人员</h2>
          <table id="table" class="table table-hover" data-classes="table table-hover"  
         data-striped="true"  >   
          </table>  
          <div class="table-responsive"> 
           <div id="toolbar">
          <a href="javascript:void(0);"  class="btn btn-default" onclick="addUser()"><i class="icon iconfont"></i>添加用户</a>
          </div>
          <table id="taskList_table" class="table-striped table-hover" data-mobile-responsive="true"></table>

          </div>  

<script type="text/javascript">

    $(document).ready(function(){ 
      var datas = new Object();
      datas.userDepart = dept.departID  ;
      var user_list;
     
      $.ajax({
           type: "POST",
           url: 'http://115.159.38.100:3000/user/search/departid',
           data: datas,
           cache:false,
           async : false,
           dataType : "json",
          success: function (datas, textStatus){ 
            user_list=datas;
          }//==sucess function       
        }); //====ajax

      //alert(user_list[0].userName);

     var table = $('#table').bootstrapTable({
          cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
          pagination: true,                   //是否显示分页（*）
          sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
          pageNumber: 1,                       //初始化加载第一页，默认第一页
          pageSize: 10,                       //每页的记录行数（*）
          pageList: [10, 25, 50],             //可供选择的每页的行数（*）
          paginationPreText: "上一页",
          paginationNextText: "下一页",

          toolbar: '#toolbar',                //工具按钮用哪个容器
          sortable: true,                     //是否启用排序
          sortOrder: "asc",                   //排序方式
          //queryParams: oTableInit.queryParams,//传递参数（*）

         

          search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端
          strictSearch: false,// 是否严格搜索
          searchOnEnterKey: false, //设置为 true时，按回车触发搜索方法，否则自动触发搜索方法

          //clickToSelect: true,
          striped: true,                              //是否显示行间隔色
          showColumns: true, //是否显示所有的列

          minimumCountColumns: 1, //最少允许的列数
          //showToggle:true, //是否显示详细视图和列表视图的切换按钮

          //showExport: true,                     //是否显示导出
          //exportDataType: "basic",              //basic', 'all', 'selected'.


          columns: [
            {
              field: 'userID',
              title: '工号',
              align: 'center',
              width:80,
              sortable: true
              }, {
              field: 'userName',
              title: '姓名',
              align: 'center',
              sortable: true,
              width:130
               }, {
              field: 'userPhone',
              title: '手机',
              align: 'center',
              sortable: true,
              width:200
            },{
              field: 'Item Operate',
              title: '相关操作',
              align: 'center',
              width:100,
              formatter:function(value,row,index){
                         var e = ' <i class="glyphicon glyphicon-pencil" onclick="edit(\''+ row.userID + '\')"></i> ';
                         var d = ' <i class="glyphicon glyphicon-trash" onclick="del(\''+ row.userID + '\' )"></i> ';
                          return e+d;
              }
            }
          ],

          data: user_list
      });//=====bootstrapTable 

/********** bootstrapTable 操作列 *********/  


     del = function (ID) {
      swal({
        title: "确定删除用户吗?",
        text: "此操作将无法恢复！",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: false
        }).then(function () {
          var datas = new Object();
            datas.userID = ID;
            //alert(datas.time);

            $.ajax({
               type: "POST",
               url: 'http://115.159.38.100:3000/user/delete',
               data: datas,
               cache:false,
               async : true,
               dataType : "json",
               success: function(data){
                  if(data == "success"){    

                    swal(          
                      'Deleted!',
                      '用户已经删除',
                      'success'
                    );

                      window.location.reload(); 

                    } else {

                    alert("删除失败,请重试！");     
                   // table.bootstrapTable('refresh');                
                    }
               }
            }); 

        }, function (dismiss) {
          // dismiss can be 'cancel', 'overlay',
          // 'close', and 'timer'
          if (dismiss === 'cancel') {
          }
        })

    }//====del
 
   edit = function (ID) {
        swal({
          title: '修改',
          showCancelButton: true,
          html:
            '<small>姓名</small>'+
            '<input id="swal-input1" class="swal2-input" placeholder="请输入新姓名" ></input>'+
            '<small>手机</small>'+
            '<input  onkeyup="this.value=this.value.replace(/[^0-9]/g,\'\')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,\'\')" id="swal-input2" class="swal2-input"  placeholder="请输入新手机" ></input>' ,
          preConfirm: function () {
            return new Promise(function (resolve,reject) {
              if ( $('#swal-input1').val()=== '') {
                reject('姓名不能为空')
             }else if ( $('#swal-input2').val()=== '') {
                reject('手机不能为空')
             }else{
                resolve([
                  $('#swal-input1').val(),
                  $('#swal-input2').val()
                ])
             }
            })
          },
          onOpen: function () {
            $('#swal-input1').focus()
          }
        }).then(function (result) {
          //swal(JSON.stringify(result))
          var user = new Object(); //创建用户对象
          user.userName = result[0];
          user.userPhone = result[1];
          user.userID = ID;

          var datas = user;
          swal({
            title: "确定修改吗?",
            text: "此操作将无法恢复！",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '确认',
            cancelButtonText: '取消',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false
            }).then(function () {
                
               $.ajax({
                   type: "POST",
                   url: 'http://115.159.38.100:3000/user/update',
                   data: datas,
                   cache:false,
                   async : true,
                   dataType : "json",
                   success: function(data){
                      if(data == "success"){    
                        swal(          
                          'Success!',
                          '修改成功',
                          'success'
                        );
                        window.location.reload(); 

                        } else {

                          swal(          
                            'Error!',
                            '修改失败，请重试。',
                            'error'
                          );              
                        }
                   }
                }); 

        }, function (dismiss) {
          // dismiss can be 'cancel', 'overlay',
          // 'close', and 'timer'
          if (dismiss === 'cancel') {
          }
        })

        }).catch(swal.noop)
      
    }//====edit

/********** bootstrapTable toolbar 按钮事件 *********/  
      addUser = function () {  
       //alert("122");
        swal({
          title: '添加用户',
          showCancelButton: true,
          inputAutoTrim:true,
          html:
            '<small>姓名</small>'+
            '<input id="swal-input1" class="swal2-input" placeholder="请输入用户姓名" ></input>' +
            '<small>手机</small>'+
            '<input onkeyup="this.value=this.value.replace(/[^0-9]/g,\'\')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,\'\')" id="swal-input2" class="swal2-input" placeholder="请输入用户手机" ></input>',
          preConfirm: function () {
            return new Promise(function (resolve,reject) {
              if ( $('#swal-input1').val()=== '') {
                reject('姓名不能为空')
             }else if ( $('#swal-input2').val()=== '') {
                reject('手机不能为空')
             }else{
                resolve([
                  $('#swal-input1').val(),
                  $('#swal-input2').val()
                ])
             }
            })
          },
          onOpen: function () {
            $('#swal-input1').focus()
          }
        }).then(function (result) {
            //swal(JSON.stringify(result))
            var user = new Object(); //创建用户对象
            user.userName = result[0];
            user.userPhone = result[1];
            
            var datas = user;

             $.ajax({
               type: "POST",
               url: 'http://115.159.38.100:3000/user',
               data: datas,
               cache:false,
               async : true,
               dataType : "json",
               success: function(data){
                  if(data == "success"){    
                      datas.departName = dept.departName;

                      $.ajax({
                         type: "POST",
                         url: 'http://115.159.38.100:3000/user/add/staff',
                         data: datas,
                         cache:false,
                         async : true,
                         dataType : "json",
                         success: function(data){
                            if(data == "success"){    
                              /*swal(          
                              'Success!',
                              '用户添加成功。',
                              'success'
                              );*/
                            window.location.reload(); 
                            }else {
                               swal(          
                              'Error!',
                              '添加失败，请重试。',
                              'error'
                               );             
                            }
       
                         }
                      }); //======ajax


                    } else if(data == "exist") {

                     swal(          
                    'Error!',
                    '已存在该用户。',
                    'error'
                    );

                    window.location.reload(); 

                    } else{

                     swal(          
                    'Error!',
                    '添加失败，请重试。',
                    'error'
                    );

                   // table.bootstrapTable('refresh');                
                    }
               }
            }); //======ajax

        }).catch(swal.noop)

      }//==addUser

  }); //====ready

</script>
            
          <hr>
        </div>
    </div>
</div>

  </div><!-- /.container -->
    
</html>
