<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>首页</title>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

     <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>


    <!-- Custom styles for this template -->
    <link href="../css/homepage.css" rel="stylesheet">
    <link href="../css/tree.css" rel="stylesheet">

    <script src="../js/homepage.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">企业后台管理系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">组织管理</a></li>
            <li><a href="announcement.html">公告管理</a></li>
            <li><a href="task.html">任务管理</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    

    <div class="tree well">
      <ul>
        <li>
         <span><i class="glyphicon glyphicon-minus-sign"></i> xx企业</span> 
         <ul id ="root">
         
         </ul>
        </li>
      </ul>
    </div>

    <script>//部门树的动态创建
//-------------------------------创建一级部门节点------------------------------------------

      $.ajax({
        type : 'GET',    
        url: 'http://115.159.38.100:3000/depart/search/first',  
        dataType : "json",    

        success : function(data) {  
        //alert("2222
          var agr ="ul#root";//agr to append
          var dept_list = data;  
          var opts = "";  

          for( var dept_index = 0 ; dept_index < dept_list.length; dept_index++ ){  
            //画本节点
            var dName = dept_list[dept_index].departName;
            var dId = dept_list[dept_index].departID;
            opts += "<li>" + "<span><i class=\"glyphicon glyphicon-leaf\"></i>" + dName + "</span> ";
            opts += "<a href=\"departmentPage.html\">详情</a>";  
            opts +="<ul id =\"" + dId  +"\">" +"</ul></li>"; 
            $(agr).append(opts);
            opts = "";
            //画该节点的子节点
            
            createChildrenNode(dName,dId);

          }

        //var agr1 = "ul#"+dId;
       // $("#root").append(opts);
         }//==sucess function       
      }); //====ajax  */


    </script> 

    
</html>
