<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>首页</title>

     <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
     <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" >
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css" >
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" ></script>
    <!-- SweetAlert2对话框 -->
    <script src="../node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../node_modules/sweetalert2/dist/sweetalert2.css">


    <!-- Custom styles for this template -->
    <link href="../css/homepage.css" rel="stylesheet">
    <link href="../css/tree.css" rel="stylesheet">

    <script src="../js/homepage.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">企业后台管理系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">组织管理</a></li>
            <li><a href="announcement.html">公告管理</a></li>
            <li><a href="task.html">任务管理</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    

    <div class="tree well">
      <ul>
        <li>
         <span><i class="glyphicon glyphicon-minus-sign"></i> xx企业</span> 
          <i class="glyphicon glyphicon-pencil" onclick="edit()"></i>
          <i class="glyphicon glyphicon-plus" onclick="add()"></i>   
         <ul id ="root">
         
         </ul>
        </li>
      </ul>
    </div>

    <script>//部门树的动态创建
//-------------------------------创建一级部门节点------------------------------------------

      $.ajax({
        type : 'GET',    
        url: 'http://115.159.38.100:3000/depart/search/first',  
        dataType : "json",    

        success : function(data) {  
        //alert("2222
          var agr ="ul#root";//agr to append
          var dept_list = data;  
          var opts = "";  

          for( var dept_index = 0 ; dept_index < dept_list.length; dept_index++ ){  
            //画本节点
            var dName = dept_list[dept_index].departName;
            var dID = dept_list[dept_index].departID;
            if(dName == null)continue;
            opts += "<li>" + "<span><i class=\"glyphicon glyphicon-leaf\"></i>" + dName + "</span> ";
            opts += "<i class=\"glyphicon glyphicon-pencil\" onclick=\"edit(\'"+ dID + "\')\"></i>";
            opts += "<i class=\"glyphicon glyphicon-plus\" onclick=\"add(\'"+ dName + "\')\"></i> ";  
            opts += "<i class=\"glyphicon glyphicon-trash\" onclick=\"del(\'"+ dName + "\')\"></i> ";
            opts += "<a href=\"departmentPage.html?agr=" + dID + "\">详情</a>";
           // opts += "<a href=\"departmentPage.html?agr=aaaaa\">详情</a>";  
            opts += "<ul id =\"" + dID  +"\">" +"</ul></li>"; 
            $(agr).append(opts);
            opts = "";
            //画该节点的子节点
            
            createChildrenNode(dName,dID);

          }

        //var agr1 = "ul#"+dId;
       // $("#root").append(opts);
         }//==sucess function       
      }); //====ajax  */

/********** bootstrapTable 操作列 *********/  

$(document).ready(function(){ 

     del = function (deptName) {

      swal({
        title: "确定删除该部门吗?",
        text: "此操作将无法恢复！",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: false
        }).then(function () {
            var datas = new Object();
            datas.departName = deptName;
            //salert(datas.departName);

            $.ajax({
               type: "POST",
               url: 'http://115.159.38.100:3000/depart/delete',
               data: datas,
               cache:false,
               async : true,
               dataType : "json",
               success: function(data){
                  if(data == "success"){    

                    swal(          
                      'Deleted!',
                      '部门已经删除',
                      'success'
                    );

                      window.location.reload(); 

                    } else if(data == "exist user"){
                      swal(          
                      'Error!',
                      '删除失败，请先对部门用户进行处理。',
                      'error'
                      );

                    }else if(data == "exist children"){
                       swal(          
                      'Error!',
                      '删除失败，请先子部门进行处理。',
                      'error'
                      );
                    }
                    else{
                    alert(data);
                    alert("删除失败,请重试！");               
                    }
               }
            }); 
        }, function (dismiss) {
          // dismiss can be 'cancel', 'overlay',
          // 'close', and 'timer'
          if (dismiss === 'cancel') {
          }
        })


    }//====del
 
   edit = function (ID) {
        swal({
          title: '修改部门名',
          showCancelButton: true,
          html:
            '<small>部门名</small>'+
            '<input id="swal-input1" class="swal2-input" placeholder="请输入新部门名" ></input>' ,
          preConfirm: function () {
             return new Promise(function (resolve,reject) {
              if ( $('#swal-input1').val()=== '') {
                reject('部门名不能为空')
             }else{
                resolve([
                  $('#swal-input1').val()
                ])
             }
            })
          },
          onOpen: function () {
            $('#swal-input1').focus()
          }
        }).then(function (result) {
          //swal(JSON.stringify(result))
          var datas = new Object(); //创建用户对象
          datas.departID = ID;
          datas.departName = result[0];
          

          swal({
            title: "确定修改吗?",
            text: "此操作将无法恢复！",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '确认',
            cancelButtonText: '取消',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false
            }).then(function () {

               $.ajax({
                   type: "POST",
                   url: 'http://115.159.38.100:3000/depart/update/name',
                   data: datas,
                   cache:false,
                   async : true,
                   dataType : "json",
                   success: function(data){
                      if(data == "success"){    
                        swal(          
                          'Success!',
                          '修改成功',
                          'success'
                        );
                        alert("sfa");
                        window.location.reload(); 

                        } else {

                          swal(          
                            'Error!',
                            '修改失败，请重试。',
                            'error'
                          );              
                        }
                   }
                }); 

        }, function (dismiss) {
          // dismiss can be 'cancel', 'overlay',
          // 'close', and 'timer'
          if (dismiss === 'cancel') {
          }
        })

        }).catch(swal.noop)
      
    }//====edit

  add = function (parentName) {  
      // alert(parentName);
        swal({
          title: '添加子部门',
          showCancelButton: true,
          html:
            '<small>子部门名字</small>'+
            '<input id="swal-input1" class="swal2-input" placeholder="请输入子部门名字"></input>',
          preConfirm: function () {
            return new Promise(function (resolve,reject) {
              if ( $('#swal-input1').val()=== '') {
                reject('部门名不能为空')
             }else{
                resolve([
                  $('#swal-input1').val()
                ])
             }
            })
          },
          onOpen: function () {
            $('#swal-input1').focus()
          }
        }).then(function (result) {
          //swal(JSON.stringify(result))
           var datas = new Object(); //创建用户对象
            datas.parentName = parentName;
            datas.departName = result[0];
            //alert(datas.departName);

             $.ajax({
               type: "POST",
               url: 'http://115.159.38.100:3000/depart',
               data: datas,
               cache:false,
               async : true,
               dataType : "json",
               success: function(data){
                  if(data == "success"){    
  
                    /*swal(          
                    'Success!',
                    '子部门添加成功。',
                    'success'
                    );*/

                     window.location.reload(); 

                    } else if(data == "exist") {

                     swal(          
                    'Error!',
                    '已存在该部门。',
                    'error'
                    );

                    //window.location.reload(); 

                    } else{

                     swal(          
                    'Error!',
                    '添加失败，请重试。',
                    'error'
                    );

                   // table.bootstrapTable('refresh');                
                    }
               }
            }); //======ajax

        }).catch(swal.noop)
      
    }//==add

  }); //====ready
    </script> 

    
</html>
